<h4>Dear Admin,</h4>

<p>Somebody wants to contact you.</p>

<p>Name: <%= @name %><p>

<p>Email: <%= @email_id %> </p> 

<p>Phone: <%= @phone %></p>

<p>Comments: <%= @comments %></p>
<br/>

<p>Thanks & Regards</p>
<p>Team Rising Sun United.</p>