<h4>Hi Admin,</h4>

<p>Somebody wants to contact you.</p>

<p>Name: <%= @name %><p>

<p>Email: <% @email %> </p> 

<p>Phone: <%= @phone %></p>

<p>Comments: <%= @comments %></p>

<p>Thanks & Regards</p>
<p>Team Rising Sun United.</p>