<h4>Dear Admin,</h4>

<p>Somebody wants to contact you.</p>

<p> <b>Name: </b> <%= @name %><p>

<p><b>Email:</b> <%= @email_id %> </p> 

<p><b>Phone: </b> <%= @phone %></p>

<p><b>Comments: </b> <%= @comments %></p>
<br/>

<p>Thanks & Regards</p>
<p>Team Rising Sun United.</p>