<!DOCTYPE html>
<html lang="en">


  <!-- Mirrored from www.madeinebor.com/tides/index-image.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Dec 2014 09:45:16 GMT -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Rising Sun United - Security</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/framework.css">
    <link rel="stylesheet" type="text/css" href="/assets/plugins.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="shortcut icon" href="/assets/logo.png">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>

  <body>

    <header>
      <div class="wrapper clearfix">
        <div class="one_fourth remove_bottom logo">

          <%= link_to root_path do %>
            <img src="/assets/logo.png" alt="logo" class="retina" />
          <% end %>

        </div><!--/one_fourth-->
        <div class="three_fourths remove_bottom last">
          <nav>
            <ul id="selectnav">
              <li>
                <a href="#home" class="scroller active">Home</a>
              </li>
              <li>
                <a href="#portfolio" class="scroller">Overview</a>
              </li>
              <li>
                <a href="#services" class="scroller">Cancellation & Refund</a>
              </li>
              <li>
                <a href="#team" class="scroller">Legal Disclaimer</a>
              </li>
              <li>
                <a href="#contact" class="scroller">Contact</a>
              </li>
              <li>
                <a href="#"><button>Buy Now</button></a>
              </li>

            </ul>
          </nav>
        </div><!--/three_fourths-->
      </div><!--/wrapper-->
    </header><!--/header-->


    <section class="full" id="home">

      <h1 class="mega">Rising Sun United<br />We Provide Security Solutions.</h1>
      <a class="button white light scroller" href="#portfolio">View More</a>

    </section>

    <section class="small-padding" id="portfolio">
      <div class="wrapper">
        <h3 class="floatleft">Overview <small></small></h3>
        <div class="clear"></div><!--CLEAR FLOATS-->
      </div>

    </section>

    <section class="dark-wrapper">

      <div class="wrapper overflow-hidden">

        <div id="loader"></div>



        <p> We build what you need, easy to use by any novice. No configurations required. Lightning fast installation & runs in the back ground in silent mode without any interruption. Light on your system resources, you don't even notice it's running in the background & protecting you. "One chosen solution with high performance cyber threat protection".</p>

        <h3>Proactive Approach</h3>

        <p>  Proactive Prevention from unknown threats (zero-day exploits), which can be prevented and disinfected by MSecure anti virus Code Emulations. The entire process is done without user’s interruption and doesn’t impact on your system performance. In most cases MSecure anti virus can identify and stop a new threat without requiring an update. However, MSecure anti virus automatically checks hourly for updates to signatures and heuristics, providing a solid backup to the proactive detection.</p>

        <h3>Remote administrator console</h3>

        <p> This is perhaps one of the greatest features that MSecure anti virus offers. It has a very powerful management tool making everything centralized. This is easy-to-use allowing administrators to deploy, manage and maintain systems in various locations. Some of the added features include:</p>
        <ul>
          <li>Provides you full visibility into user activity no matter where they are in LAN & WAN.</li>
          <li>Enforce a different policy for offsite users and onsite users..</li>
          <li>Create a security policy once and then deploy it across multiple groups.</li>
          <li>Easy-to-use interface.</li>
          <li> Easy to create / manage groups and endpoints clients.</li>
          <li>Easier deployment of customized settings to per groups / per client.</li>
          <li>A single dashboard lets you see endpoint protection status, actions and events.</li>
          <li>Easy to create sub-admins &mp assign rights.</li>
          <li> Role-based administration allows you to share and delegate responsibility for actions.</li>
          <li> Easier control of policies and setting to workstations.</li>
          <li> Tracker of threat history and events.</li>
          <li>Detailed reporting feature that tackles pre-defined and customizable system reports.</li>
          <li>Better and more flexible management of huge networks.</li>
          <li> Single Console to manager both antivirus & web-security.</li>
          <li> Easy-to-use installation wizard with zero configuration.</li>
        </ul>
      </div>

    </section>

    <section class="small-padding" id="services">

      <div class="wrapper">
        <h3 class="floatleft">Cancellation & Refund Policy <small></small></h3>
        <div class="clear"></div><!--CLEAR FLOATS-->
      </div>

    </section>

    <section class="dark-wrapper">

      <div class="wrapper">

        <p> In case of dissatisfaction from our services, clients have the liberty to cancel their projects and request a refund from us. Our Policy for the cancellation and refund will be as follows:</p>
        <h3>Cancellation Policy</h3>

        <p>Cancellation of service renewals for on-going website promotion, website hosting or domain registration services must be made at least 7 business days prior to the end of the current service period.</p>
        <p>Requests received later than 7 business days prior to the end of the current service period will be treated as cancellation of services for the next service period.</p>
        <h3>  Refund Policy</h3>

        <p>   We will try our best to give superior services and products to our clients.</p>
        <p>In case any client is not completely satisfied with our services we can provide a refund within 48 hours from the date and time of sale of the Project. The final refunds will be made after deducting the Service Tax and the Hourly charges for the work completed by us.</p>
        <p>If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of Payment Gateway Name payments refund will be made to the same account.</p>



        <div class="clear"></div>

      </div>

    </section>

    <section class="small-padding" id="team">

      <div class="wrapper">
        <h3 class="floatleft">Legal Disclaimer <small></small></h3>
        <div class="clear"></div><!--CLEAR FLOATS-->
      </div>

    </section>

    <section class="dark-wrapper">

      <div class="wrapper">

        <p>The information contained in this website is for general information purposes only. This Rising Sun United (rising-sun.com.au) merchant is located in Australia. The Rising Sun United is Rigistered Under Australian Government. The information is provided by rising-sun.com.au and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
        <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arise out of, or in connection with, the use of this website.</p>
        <P>Through this website you are able to link to other websites which are not under the control of rising-sun.com.au, we have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</P>
        <P>Every effort is made to keep the website up and running smoothly. However, rising-sun.com.au takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>      
      </div>

    </section>

    <section class="small-padding" id="terms">

      <div class="wrapper">
        <h3 class="floatleft">Terms & Conditions <small></small></h3>
        <div class="clear"></div><!--CLEAR FLOATS-->
      </div>

    </section>

    <section class="dark-wrapper">

      <div class="wrapper">
        <p align="justify">Rising Sun United (www.rising-sun.com.au) provides Products and manpower Services (collectively, hereinafter referred to as "Services") subject to any customer's or buyer's (hereafter referred to as "Client") acceptance of and compliance with the Terms and Conditions (hereinafter referred to as "Terms") and the terms and conditions of the Service Level Assurance Agreement (hereafter referred to as "SLA") outlined below:</p>

        <h4>Term</h4>
        <p align="justify">The Terms of the Agreement will commence on the date on which the Client enrolls for our Services and will end when anyone of the parties terminate it.</p>

        <h4>Description of Service:</h4>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) may provide the Client with one or more of the following Services depending on the service package that the Client selects: Software Development Business website, Business-related website pages, Search Engine Marketing, Search Engine Optimization, Third party Content, Storage space, Domain-based e-mail Services, Website hosting, or maintenance and support Services. Unless explicitly stated otherwise, any new feature that augments or enhances the Services shall be considered to be part of the Services.</p>

        <p align="justify">Rising Sun United (www.rising-sun.com.au) reserves the right to modify, suspend or discontinue the Services (or any part thereof), if there is non-cooperation, nonpayment, or unwanted delay on the part of the client, at any time, without notice. Client expressly agrees that Client, or any related third party, shall not hold Rising Sun United (www.rising-sun.com.au) or its suppliers liable for any losses, damages or consequences whatsoever for such modification, suspension or discontinuation of the Services.</p>

        <h4>Access to Information:</h4>
        <p align="justify">For purposes of the Agreement, all web pages that are owned, operated or hosted by, or on behalf of, Rising Sun United (www.rising-sun.com.au), are herein referred to as the "Websites".</p>
        <p align="justify">To access the Services or "Websites" of Rising Sun United Pvt. Ltd. (www.rising-sun.com.au), the Client may be asked to provide certain registration details or other information that must be correct, current, and complete in all respects. If at any stage, Rising Sun United (www.rising-sun.com.au) has reasons to believe that the information provided by the Client is not correct, current, or complete, Rising Sun United (www.rising-sun.com.au) shall have the right to refuse the Client any access to the Websites or Services of them.</p>

        <h4>Payment for Services or Products:</h4>
        <p align="justify">The Client agrees to pay Rising Sun United (www.rising-sun.com.au) the service fee, for any Program or Service that the Client may enrolls in, in pursuance to the terms of the Payment Plan the Client selects. The client shall pay, the taxes, if any, levied on him in addition to the payment plan.</p>
        <p align="justify">The Client expressly understands, acknowledges and hereby authorizes Rising Sun United (www.rising-sun.com.au) to charge the Credit Card of the Client or to Debit Client's Bank account as per the agreed Payment Plan of the particular Services/Websites the client selects.</p>
        <p align="justify">The Client shall pay an upfront fee (advance fee) as per the Payment Plan along with the order for the particular Services/Websites the client selects and agrees with the Service Provider (Rising Sun United Pvt. Ltd. (www.rising-sun.com.au). The details and invoice for it will be emailed to the client no later than 48 working hours by the Service Provider.</p>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) also reserves the right to resort to means of Debt Collection Services etc if the case so arises for collection of Past Due Payments and customer shall be liable for all collection costs, including attorneys' fees etc. If the client does not respond for 7 days without any notification we are entitled to charge the due amount to the customer and the amount would not be refunded.</p>
        <p align="justify">In the interests of security and to safeguard both parties from payment frauds, Rising Sun United (www.rising-sun.com.au) may request for documents if applicable, to ensure that the client is the cardholder and authorized to make the payment on behalf of the business or individual. The client agrees to submit these documents as and when requested. These are required by law, in accordance with the security compliance procedures of Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) and its suppliers. These may be in the form of:</p>

        <ul type="none" style="margin-left:3em;">
          <li>A signed copy of the Task Order</li>
          <li>A copy of the FRONT SIDE ONLY of your Credit or Debit Card</li>
          <li>An ID proof in the form of:</li>
          <li>A Driving License</li>
          <li>A National ID card</li>
          <li>Any Photo ID issued by the government of Client's respective country.</li>
          <li>The name appearing on the statement would be Rising Sun United</li>
        </ul>

        <h4>Payments for Renewals of the Website, Domain, Hosting, Server Space and other subscriptions.</h4>
        <p align="justify">Rising Sun United(www.rising-sun.com.au) will send an email 3 month prior to expiry of Website, Domain, Hosting, Server Space and other relevant subscriptions to the client, informing about the due date of renewal.</p>
        <p align="justify">No sooner than 60 (Sixty) days prior to expiry, Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) will attempt to contact Client who had not renewed their relevant subscriptions on the first notice. Client will be requested to renew at this stage.</p>
        <p align="justify">No later than 40 (Forty) days prior to expiry, Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) will put the status "Website under maintenance" for customers who are still not contactable. If still unsuccessful, Rising Sun United (www.rising-sun.com.au) will notify its suppliers of the same in time and request to cancel the domain on expiry.</p>
        <p align="justify">All customers must be informed at Acquisition of the renewal charges.</p>

        <h4>Cancellation & Refunds Policy:</h4>
        <p align="justify">All amounts owed by the client to Rising Sun United (www.rising-sun.com.au) for Services rendered prior to the verified cancellation date must be paid in full. There will be no prorating for partial months throughout the Agreement. Due to account security and privacy concerns, all billing related questions and cancellation requests MUST be made in writing or via email. Cancellation requests will only be processed if made by the initial authorizing party and if received in writing. There will be no refunds of any monies for any cancellation requests made after the cooling off period of 7 days from the date of order. For security and training purposes, all calls inbound and outbound through Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) corporate offices are digitally recorded and the recordings form a part of the verbal contract between Rising Sun United (www.rising-sun.com.au) and the client.	Any cancellations done after the cooling off period by the client, for any reason whatsoever, will lead to a full payment of the agreed price and immediate termination of the contract, until otherwise mutually agreed between Rising Sun United (www.rising-sun.com.au) and the Client.</p>

        <h4>Receivables Policy:</h4>
        <p align="justify">As Mproinfotech (www.rising-sun.com.au) provides a bill-through service, the company takes a significant credit risk for each and every Client. Therefore, Client is responsible to maintain an active and valid payment method on file at all times.</p>
        <p align="justify">If for any reason, Client's payment method is not available, Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) reserves the right to immediately and temporarily turn off the website, pay-per-click ads, sponsored listings and ongoing or then current production, reporting, or support Services being provided to account.</p>
        <p align="justify">If the payment is not received, Rising Sun United (www.rising-sun.com.au) reserves the right to terminate the Agreement in full and retain ownership of the website, domain name, or other Services until such time the account has been paid in full.</p>
        <p align="justify">All Term Commitment Terminations will result in an escalation of all fees owed under the Terms of the Agreement. Many Clients maintain multiple forms of payment on file to prevent this from occurring.</p>

        <h4>Representations and Warranties:</h4>
        <p align="justify"><strong>Client represents warrants and covenants that:</strong> Client has sufficient authority to enter into the Agreement</p>
        <p align="justify">Client is a business, and that Client's use of Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) Services is solely for lawful commercial and business purposes</p>

        <h4>Client has the necessary rights to provide all information provided under the Agreement for use as described in the Agreement, and that all such information and all claims, statements, products and Services contained or referenced therein and in the website to which it links:</h4>
        <p align="justify">Do not violate any law, statute, ordinance, treaty or regulation or Rising Sun United (www.rising-sun.com.au) policy or guideline</p>
        <p align="justify">Do not infringe any copyright, patent, trademark, trade secret or other intellectual property right of any third party</p>
        <p align="justify">Do not breach any duty toward or rights of any person or entity including rights of publicity or privacy, and have not otherwise resulted in or are not likely to result in any consumer fraud, product liability, tort, breach of contract, injury, damage or harm of any kind to any person or entity</p>
        <p align="justify">Are not false, deceptive or misleading</p>
        <p align="justify">Are not defamatory, libelous, slanderous or threatening</p>
        <p align="justify">Will be free of viruses, Trojan horses, trap doors, back doors, Easter eggs, worms, time bombs, cancel bots or other computer programming routines that may potentially damage, interfere with intercept, or expropriate any system data or personal information;</p>

        <h4>Comply with the applicable Program Terms:</h4>
        <p align="justify">Comply with all laws regarding unsolicited electronic messages (including without limitation, the CAN-SPAM Act of 2003 and Client will not engage in any form of spamming or other impermissible marketing activities through any Rising Sun United (www.rising-sun.com.au) Program.</p>

        <h4>Indemnification:</h4>
        <p align="justify">Client will indemnify and hold Rising Sun United (www.rising-sun.com.au), its subsidiaries, affiliates, content providers, service providers, employees, agents, officers, directors, and contractors (the "Indemnified Parties") harmless from any breach of these Terms and Conditions or the applicable Program Terms by Client, including any use of content and third-party content developed by Rising Sun United (www.mproinfotch.com) other than as expressly authorized in these Master Terms and Conditions.</p>
        <p align="justify">Client agrees that the Indemnified Parties will have no liability in connection with any such breach or unauthorized use, and Client agrees to indemnify any and all resulting loss, damages, judgments, awards, costs, expenses, and attorneys' fees of the Indemnified Parties in connection therewith. Client will also indemnify and hold the Indemnified Parties harmless from and against any claims brought by third parties arising out of Client's use of the information accessed from Mark Web Solutions (www.rising-sun.com.au).</p>

        <h4>Trademarks:</h4>
        <p align="justify">Trademarks, Service-marks, and Logos appearing on this site are the property of Rising Sun United (www.rising-sun.com.au) or the party that provided the trademarks, service marks, and logos to Mark Web Solutions (www.rising-sun.com.au). Rising Sun United (www.rising-sun.com.au) and any party that provided trademarks, service marks, and logos to Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) retain all rights with respect to any of their respective trademarks, service marks, and logos appearing in this site.</p>

        <h4>Security:</h4>
        <p align="justify">Any passwords used for this site are for individual use only. Client will be responsible for the security of Client's password (if any). Rising Sun United (www.rising-sun.com.au) will be entitled to monitor Client's password and, at its discretion, require Client to change it. If Client uses a password that Mark Web Solutions Managment Services Pvt. Ltd. (www.Mark Web Solutionsweb.co.uk) considers insecure, Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) will be entitled to require the password to be changed and/or terminate Client's account.</p>
        <p align="justify">Client will notify Rising Sun United (www.rising-sun.com.au) immediately if Client believes that the security of Client's account has been compromised. Mark Web Solutions Managment Services Pvt. Ltd. (www.Mark Web Solutionsweb.co.uk) AND ITS SUPPLIERS SHALL NOT BE LIABLE FOR LOSSES OR DAMAGES RESULTING FROM ANY SECURITY BREACHES.</p>
        <p align="justify">Client is prohibited from using any Services or facilities provided in connection with Rising Sun United (www.rising-sun.com.au) to compromise security or tamper with system resources and/or accounts. The use or distribution of tools designed for compromising security (e.g., password guessing Services, cracking tools or network probing tools) is strictly prohibited. If Client becomes involved in any violation of system security.</p>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) reserves the right to release Client's details to system administrators at other sites in order to assist them in resolving security incidents. Rising Sun United (www.rising-sun.com.au) reserves the right to investigate detected violations of these Master Terms and Conditions.</p>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) reserves the right to fully cooperate with any law enforcement authorities or court order requesting or directing Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) to disclose the identity of anyone posting any e-mail messages, or publishing or otherwise making available any materials that are believed to violate these Terms and Conditions.</p>
        <p align="justify">BY ACCEPTING THIS AGREEMENT CLIENT WAIVE AND HOLD HARMLESS Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY Rising Sun United (www.rising-sun.com.au) DURING OR AS A RESULT OF ITS INVESTIGATIONS AND/OR FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY EITHER Mark Web Solutions (www.rising-sun.com.au) OR LAW ENFORCEMENT AUTHORITIES.</p>

        <h4>Proprietary Information:</h4>
        <p align="justify">The material and content accessible from this site, and any other World Wide Website owned, operated, licensed, or controlled by Mark Web Solutions Managment Services Pvt. Ltd. (www.rising-sun.com.au) (the "Content") is the proprietary information of Rising Sun United</p>
        <p align="justify">or the party that provided the Content to Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) retains all right, title, and interest in the Content.</p>
        <p align="justify">The Content may not be copied, distributed, republished, uploaded, posted, or transmitted in any way without the prior written consent of Rising Sun United (www.rising-sun.com.au), except that Client may print out a copy of the Content solely for Client's internal use.</p>
        <p align="justify">Client may not remove or alter, or cause to be removed or altered, any copyright, trademark, trade name, service mark, or any other proprietary notice or legend appearing on any of the Content. Modification or use of the Content except as expressly provided in these Terms and Conditions is prohibited. Neither title nor intellectual property rights are transferred to Client by access to the Services or Rising Sun United (www.rising-sun.com.au) Websites.</p>

        <h4>Client is expressly prohibited, directly or indirectly through any third party, from any of the following:</h4>
        <ol type="1" style="margin-left:3em;">
          <li>Copying, modifying, creating a derivative work of, reverse engineering, reverse assembling or otherwise attempting to discover the source code of any software pertaining to the Services or Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) Websites</li>
          <li>Renting, leasing, selling, assigning, transferring, sublicensing, re-licensing, granting a security interest in, or gaining unauthorized access to the Services or Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) Websites.</li>
          <li>Accessing the Services or Rising Sun United(www.rising-sun.com.au) Websites by any means other than through the interface that is provided by Mark Web Solutions (www.Mark Web Solutionsweb.co.uk) for use in accessing the Services or Rising Sun United (www.rising-sun.com.au) Websites.</li>
        </ol>

        <p align="justify">Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) suppliers are the exclusive owners of all right, title and interest in and to the Services or Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) Websites along with any and all related intellectual property rights including, without limitation, all associated rights under the laws of copyright (including derivative works), trademarks and patent. Nothing in this Agreement shall be deemed to limit or restrict Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) suppliers from providing its Services, Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) Websites or technology to any third party for any purpose whatsoever, or in any way affect the rights granted to such other third parties. The use of any of the Services or Rising Sun United Pvt. Ltd. (www.rising-sun.com.au) Websites shall in no way be construed by any user as granting or conferring upon them any intellectual property rights whatsoever.</p>

        <h4>External Sites:</h4>
        <p align="justify">This site may be hyper-linked to other external sites that are not maintained by, or related to, Rising Sun United. (www.rising-sun.com.au) Hyper-links to such sites are provided as a service to users and are not sponsored by or affiliated with this site or Rising Sun United . (www.rising-sun.com.au). Rising Sun United. (www.rising-sun.com.au) has not reviewed any or all of such sites and is not responsible for the content of those sites. Hyper-links are to be accessed at Client's own risk, and Rising Sun United. (www.rising-sun.com.au) makes no representations or warranties about the content, completeness or accuracy of these hyper-links or the sites hyper-linked to this site. Further, the inclusion of any hyper-link to a third-party site does not necessarily imply endorsement by Rising Sun United (www.rising-sun.com.au) of that site.</p>

        <h4>Information Provided:</h4>
        <p align="justify">Client would provide Rising Sun United (www.rising-sun.com.au) information required to make the site livecontents, images, videos, logos, and other relevant with the necessary within the agree	d timeline.</p>
        <p align="justify">In the event that the Client fails to provide the contents, images, information, videos, logos, Rising Sun United (www.rising-sun.com.au) would complete the website with suitable data provided or with "Coming Soon" text or "Image Not Available" in case of images.</p>
        <li>Rising Sun United (www.rising-sun.com.au) will also inform the Client at least 3 Working Days in advance of such site being made live with and would charge the card for the due amount on site completion.</li>

        <h4>Client may not post, send, submit, publish, or transmit in connection with this site any material that:</h4>
        <p align="justify">Client does not have the right to post, including proprietary material of any third party; Advocates illegal activity or discusses an intent to commit an illegal act;</p>
        <p align="justify">Is vulgar, obscene, pornographic, or indecent;</p>
        <p align="justify">Does not pertain directly to this site;</p>
        <p align="justify">Threatens or abuses others, libels, defames, invades privacy, stalks, is obscene, pornographic, racist, abusive, harassing, threatening or offensive;</p>
        <p align="justify">Seeks to exploit or harm children by exposing them to inappropriate content, asking for personally identifiable details or otherwise; Infringes any intellectual property or other right of any entity or person, including violating anyone's copyrights or trademarks or their rights of publicity;</p>
        <p align="justify">Violates any law or may be considered to violate any law;</p>
        <p align="justify">Impersonates or misrepresents Client's connection to any other entity or person or otherwise manipulates headers or identifiers to disguise the origin of the content;</p>
        <p align="justify">Advertises any commercial endeavor (e.g., offering for sale products or Services) or otherwise engages in any commercial activity (e.g., conducting raffles or contests, displaying sponsorship banners, and/or soliciting goods or Services) except as may be specifically authorized on this site;</p>
        <p align="justify">Solicits funds, advertisers or sponsors;</p>
        <p align="justify">Includes Services which contain viruses, worms and/or Trojan horses or any other computer code, files or Services designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications;</p>
        <p align="justify">Disrupts the normal flow of dialogue, causes a screen to scroll faster than other users are able to type, or otherwise act in a way which affects the ability of other people to engage in real time activities via this site; Includes MP3 format files;</p>
        <p align="justify">Amounts to a 'pyramid' or similar scheme;</p>
        <p align="justify">Disobeys any policy or regulations established from time to time regarding use of this site or any networks connected to this site; or Solicits funds, advertisers or sponsors;</p>
        <p align="justify">Contains hyper-links to other sites that contain content that falls within the descriptions set forth above.</p>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) reserves the right to monitor use of this site to determine compliance with these Master Terms and Conditions, as well the right to remove or refuse any information for any reason. Notwithstanding these rights, Client remains solely responsible for the content of Client's submissions.</p>
        <p align="justify">Client acknowledges and agrees that neither Mpro info tech (www.rising-sun.com.au) nor any third party that provides Content to Rising Sun United (www.rising-sun.com.au) will assume or have any liability for any action or inaction Rising Sun United (www.rising-sun.com.au) or such third party with respect to any submission.</p>
        <p align="justify">Submissions: Client hereby grants to Rising Sun United (www.rising-sun.com.au) the royalty-free, perpetual, irrevocable, worldwide, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, and display all content, remarks, suggestions, ideas, graphics, or other information communicated to Rising Sun United (www.rising-sun.com.au) through this site (together, the "Submission"), and to incorporate any Submission in other works in any form, media, or technology now known or later developed.</p>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) will not be required to treat any Submission as confidential, and may use any Submission in its business (including without limitation, for products or advertising) without incurring any liability for royalties or any other consideration of any kind, and will not incur any liability as a result of any similarities that may appear in future Rising Sun United (www.rising-sun.com.au) operations.</p>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) and its suppliers do not claim ownership rights in any Content that Client owns, or are owned by a third party, and that Client has provided for inclusion in the Services and/or incorporation onto Client's website. Accordingly, Client is solely responsible for ensuring that said Content does not violate any of Rising Sun United (www.rising-sun.com.au) policies or rig or any rd party's rights.</p>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) will treat any personal information that Client submits through this in accordance with its Privacy Policy.</p>

        <h4>Communication from Rising Sun United (www.rising-sun.com.au):</h4>
        <p align="justify">Client agrees to receive all communications from Rising Sun United (www.rising-sun.com.au), whether via telephone, facsimile, or e-mail, and expressly agree not to consider any such communication(s) as unsolicited. Refusal to receive such communications from Rising Sun United (www.rising-sun.com.au) will constitute grounds for termination of this Agreement and deactivation of Client's Website.</p>

        <h4>Termination for Cause:</h4>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) and its suppliers reserve the right to immediately terminate this Agreement and deactivate Client's account and access to Services Rising Sun United (www.rising-sun.com.au)</p>

        <h4>Websites if they believe, in their sole and absolute discretion, that Client has:</h4>
        <p align="justify">Violated, or threaten to violate, the terms of this Agreement; or</p>
        <p align="justify">Created, or are creating, websites as a nuisance or in a deliberate attempt to degrade or otherwise interfere with the Services or Rising Sun United (www.rising-sun.com.au) Websites.</p>
        <p align="justify">Any user who is terminated for cause under this section hereby agrees to forfeit any and all rights, claims and/or causes of action against Rising Sun United (www.rising-sun.com.au) and its suppliers, including without limitation Client's rights to any refunds or for any losses, expenses, damages or costs incurred as a result of such termination and deactivation.</p>

        <h4>Site Ownership:</h4>
        <p align="justify">Copyright, code structure, processes, imagery, and intellectual property related to the finished website produced by Rising Sun United (www.rising-sun.com.au) will be owned by Rising Sun United (www.rising-sun.com.au). Transfer requests must be initiated by the Client to the dedicated Rising Sun United (www.rising-sun.com.au) Project Coordinator in writing. Rights to photos, graphics, source code, work- up files, and computer Services are specifically not transferred to the Client, and remain the property of Rising Sun United (www.rising-sun.com.au)</p>
        <p align="justify">retains the right to display graphics and other Web design elements as examples of their work in their respective portfolios. The website(s) may contain a copyright/legal statement with a link to Rising Sun United (www.rising-sun.com.au) Services and corporate website. Client assumes all liability for licensing the proper technology, and imagery, for the site to operate properly outside of Rising Sun United (www.rising-sun.com.au) hosting environment. If Client desires to transfer the site to another hosting platform, Rising Sun United (www.rising-sun.com.au) reserves the right to charge a one time ownership transfer fee, which includes all supporting code, fonts, imagery, etc.</p>

        <h4>Force Majeure:</h4>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) shall not be liable or deemed to be in default under this Agreement for any delay or failure to perform resulting from (a) accidents, fire, labor disputes, epidemics, war, terrorist acts, riots, insurrections, power blackouts, acts of nature or causes beyond its reasonable control without its fault or negligence, (b) acts or omissions of the other Party or of a third Party (other than the non- performing Party's own agents or contractors), or (c) compliance with any law, regulation, ruling, order or requirement of any federal, state or municipal government or agency or court of competent jurisdiction ('Force Majeure Condition').</p>

        <h4>Data Limitations:</h4>
        <p align="justify">Rising Sun United (www.rising-sun.com.au) will impose the following data limitations on email and bandwidth provided by Rising Sun United (www.rising-sun.com.au) through its products and Services offering.</p>

        <h4>Limitations of Liability:</h4>
        <p align="justify">CLIENT EXPRESSLY UNDERSTANDS AND AGREES THAT Rising Sun United(www.rising-sun.com.au) AND ITS OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO CLIENT FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF Rising Sun United (www.rising-sun.com.au) HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: THE USE OR THE INABILITY TO USE THE SERVICE THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE UNAUTHORIZED ACCESS TO OR ALTERATION OF CLIENT'S TRANSMISSIONS OR DATA STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR ANY OTHER MATTER RELATING TO THE SERVICE.</p>

        <h4>Credit card Protection Policy</h4>
        <p align="justify">We carry out all the credit card transaction in a secure environment called SSL (Secure Sockets Layer). SSL is the standard security technology for establishing an encrypted link between a BANK web server and a browser. This link ensures that all data passed between the BANK web server and browsers remain private and integral. SSL is an industry standard and is used by millions of websites in the protection of their online transactions with their customers.</p>

        <h4>Personal Information Collection Policy</h4>
        <p align="justify">With the exception of credit card info, we store the information from your order form to allow us to track consulting issues or refer to a previous order to help provide some customer service. However, we do not store any type of credit card information of our customers.</p>

        <h4>Statement of Principles</h4>
        <p align="justify">As described in detail below, any information we gather at this web site is strictly for our use and is not shared with any other entity, public or private, for any reason - period. We will not sell or give away any lists or other data that we may retain and we do not purchase such information from other sources.</p>

        <h4>Statistical Data</h4>
        <p align="justify">Our servers (as most) track IP addresses and referring contact details to help with site maintenance and improvements. This data is viewed only as anonymous statistics to show the busiest times of the day or week, pages with errors and how effective our advertising has been and the further contact to the customer or for shipment of physical product.This information is not used for any other purpose.</p>



        <div class="clear"></div>

      </div>

    </section>


    <a href="#">
      <div class="buy-btn" id="buy-btn">
        <button class="buy-now" >Buy Now </button>
      </div></a>
    <section class="small-padding" id="contact">

      <div class="wrapper">
        <h3 class="floatleft">Contact Us. <small></small></h3>

        <div class="clear"></div><!--CLEAR FLOATS-->
      </div>

    </section>

    <section class="ch-color">

      <div class="wrapper clearfix">

        <div class="two_thirds scroll-animate left">
          <div id="message"></div>

          <%= render :partial => "contact" %>

        </div>

        <div class="one_third last scroll-animate right" style="color:#000; ">
          <h5 >Contact Us</h5>

          <p class="margin-bottom-10"><i class="fa fa-map-marker fa-fixed-width" style="color:#3171bf"></i>19 Kenzie Court Strathpine Gardens Brendale QLD 4500</p>
          <p class="margin-bottom-10"><i class="fa fa-phone-square fa-fixed-width"  style="color:#3171bf"></i> 0452002314</p>
          <p class="margin-bottom-10"><i class="fa fa-laptop fa-fixed-width" style="color:#3171bf"></i><a href="mailto:risingsun.united@gmail.com" style="color:#000">&nbsp;&nbsp;risingsun.united@gmail.com</a></p>
        </div>

      </div>

    </section>

    <footer>
      <!--  
      <div class="wrapper centered">
        <div class="social">
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-flickr"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
        </div>
      -->
      <div class="clear"></div><!--CLEAR FLOATS-->
    </div>

  </footer>

  <section class="footer-color">

    <div class="wrapper">
      <p class="centered"><a href="#terms" class="scroller active" style="padding:5px; color:#fff">Terms & Conditions </a>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© 2014 Rising Sun United. All rights reserved. Rising Sun United.

      <div class="clear"></div><!--CLEAR FLOATS-->
    </div>

  </section>


  <!--LOAD SCRIPTS-->
  <script type="text/javascript" src="/assets/jquery.js"></script>
  <script type="text/javascript" src="/assets/plugins.js"></script>
  <script type="text/javascript" src="/assets/custom.js"></script>

</body>

<!-- Mirrored from www.madeinebor.com/tides/index-image.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Dec 2014 09:45:44 GMT -->
</html>